
body{
font-family:Arial, Helvetica, sans-serif;
}

.login-body{
background:linear-gradient(135deg,#1B4DFF,#0A2540);
height:100vh;
display:flex;
align-items:center;
justify-content:center;
}

.login-card{
width:380px;
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}
